<div class="container">
  <div class="row">
    <%- @articles.each  do |article| %>
        <div class="col s4">
          <div class="card">
            <div class="card-image">
              <img src="/bordeaux.jpeg">
              <span class="card-title"><%= article.title %></span>
            </div>
            <div class="card-content">
              <span><strong>Date de publication : </strong> <%= article.date %> </span>
              <p> <%= article.chapeau %></p>
            </div>
            <div class="card-action">
              <%= link_to "Voir l'article", article_path(article)%>
              <%= link_to "Supprimer l'article", article_path(article), method: :delete, data: {confirm: "Etes-vous sure de vouloir supprimer cette article ? "}%>
            </div>
          </div>
        </div>
        <%end%>
      </div>
</div>
