<ul>
  <%@article.errors.full_messages.each do |msg| %>
  <li> <%= msg %> </li>
  <% end %>
</ul>
<div class="container">
<%= form_for @article do |f| %>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field "title", class: "validate" %>
      <label for="title">Titre de l'article</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_field "chapeau", class: "validate" %>
      <label for="chapeau">Chapeau de l'article</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <%= f.text_area "texte", class: "materialize-textarea validate" %>
      <label for="texte">Contenue de l'article</label>
    </div>
  </div>


<%= f.submit %>
<%end%>
